.navigation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 8%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.nav-button {
    font-family: 'Norwester', sans-serif;
    color: #fff;
    flex-grow: 1;
    width: 100%;
    padding: 6px;
    margin: 0;
    border-left: 8px solid #d9e381;
    border-right: 8px solid #d9e381;
    border-top: 4px solid #d9e381;
    border-bottom: 4px solid #d9e381;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.1s ease-in-out
}

.nav-button:hover {
    border-color: white;
}

.nav-button.active {
    border-left-color: transparent;
}
